`{{ dns_domain }}` DNS setting info
====================
{% for type, record_data in dns_domain_records.items() %}

{{ type }}
--------------------

* 名前：`{{ record_data.name }}`
* タイプ：`{{ record_data.type }}`

### 設定値

```
{{ record_data.value }}
```
{% endfor %}
