"Type","Record Name","Record Type","Record Value","TTL"
{% for type, record_data in dns_domain_records.items() %}
"{{ type }}","{{ record_data.name }}","{{ record_data.type }}","{{ record_data.value }}",{{ record_data.ttl }}
{% endfor %}
