;; @see https://developers.cloudflare.com/dns/manage-dns-records/how-to/import-and-export/
{% for type, zone_type_data in dns_zone_file.value.items() %}

;; {{ type }} Recodes
{% for zone_data in zone_type_data %}
{% set zone_data_value = zone_data.value -%}
{% if zone_data_value is contains(' ') and type == 'TXT' -%}
{% set zone_data_value = '"' + zone_data_value + '"' %}
{% endif %}
{% if zone_data.comment is defined %}
;;; {{ zone_data.comment }}
{% endif %}
{{ zone_data.name }}	{{ zone_data.ttl }}	IN	{{ zone_data.type }}	{{ zone_data_value }}
{% endfor %}
{% endfor %}
