{% for recode_type, recode_list in dns_zone_data.value.items() %}
;; {{ recode_type }} Recodes
{% for recode in recode_list %}
{% set recode_value = recode.value | replace('@', dns_zone_data.key + '.') %}
{% if recode_type == 'TXT' and recode_value is contains(' ') %}
{% set recode_value = '"' + recode_value + '"' %}
{% endif %}
{{ recode.name }}	{{ recode.ttl }}	IN	{{ recode.type }}	{{ recode_value }}{{ ' ; ' + recode.comment if recode.comment is defined else '' }}
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}
